*.prototxt
*.caffemodel
*.solverstate
__pycache__/*
*.pyc
.vscode/
data/*
!data/*.py
!data/*.zip
!.gitkeep
!python_layer/lenet/*
!python_layer/lenet_pylayer/lenet_pylayer_deploy.prototxt
!python_layer/lenet_pylayer/weights.caffemodel
